.accordion {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;

    &:hover {
      h4 {
        color: #00FFD1;
      }
    }

    h4 {
      font-family: $title-font;
      font-weight: 400;
      font-size: rem(18);
      line-height: divider(15px, 18px);
      color: $white;
      transition: $transition;
    }

    span {
      position: absolute;
      top: -2px;
      left: -25px;
      background-image: url("../img/icons/arrow-left.svg");
      transform: rotate(270deg);
      background-size: auto;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      transition: $transition;
    }

    &.active {
      span {
        top: 1px;
        transform: rotate(90deg);
      }
    }
  }

  &__info {
    margin-bottom: 13px;
    max-height: 0;
    overflow: hidden;
    transition: $transition;

    &.shown {
      padding: 18px 0 0;
    }

    &.ml {
      margin-left: -25px;
    }
  }
}