.accordion {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 20px;
    cursor: pointer;
    transition: $transition;

    &.open {
      .accordion__info {
        height: 100%;
        padding-top: 18px;
        opacity: 1;
      }

      .accordion__btn {
        h4 {
          color: #00FFD1;
        }
      }
    }

    &.close {
      .accordion__info {
        opacity: 0;
        height: 0;
      }
    }

    &:hover {
      .accordion__btn {
        h4 {
          color: #00FFD1;
        }

        span {
          top: 1px;
          transform: rotate(90deg);
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;

    &:hover {
      h4 {
        color: #00FFD1;
      }
    }

    h4 {
      font-family: $title-font;
      font-weight: 400;
      font-size: rem(18);
      line-height: divider(15px, 18px);
      color: $white;
      transition: $transition;
    }

    span {
      position: absolute;
      top: -2px;
      left: -25px;
      background-image: url("../img/icons/arrow-left.svg");
      transform: rotate(270deg);
      background-size: auto;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 14px;
      transition: $transition;
    }
  }

  &__info {
    margin-bottom: 13px;
    overflow: hidden;
    transition: $transition;

    &.ml {
      margin-left: -25px;
    }
  }
}