.catalog {

  &-bikes {
    &__slider {
      padding-top: 60px;
      padding-bottom: 120px;
      margin: 0 -35px;

      .catalog-bikes-pagination {
        max-width: 200px;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
        z-index: 5;

        .swiper-pagination-bullet {
          background: #00FBCE;
          width: 34px;
          height: 7px;
          border-radius: 0;
          box-shadow: 0px 4px 10px transparent;
          opacity: 1;
          transition: $transition;
        }

        .swiper-pagination-bullet-active {
          height: 11px;
          background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
        }
      }

      .btns-wrap {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        max-width: 280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &--profile {
        padding-top: 20px;
        padding-bottom: 110px;
        margin: 0 -22px;
      }
    }

    &__slider-nextBtn,
    &__slider-prevBtn {
      cursor: pointer;
      background-image: url("../img/icons/arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      width: 40px;
      height: 40px;
      opacity: .7;
      transition: $transition;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 1;
      }
    }

    &__slider-nextBtn {
      transform: rotateY(180deg);
      left: unset;
      right: 0;
    }

    &__inner {
      margin: 0 35px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, auto));
      justify-content: space-between;
      gap: 20px 10px;

      @media screen and (max-width: 800px) {
        justify-content: space-evenly;
      }

      &--sm {
        margin: 0 22px;
        gap: 10px 8px;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));

        @media screen and (max-width: 768px) {
          gap: 20px 8px;
        }

        @media screen and (max-width: 475px) {
          justify-content: center;
        }
      }
    }
  }

  &-items {
    &__slider {
      padding-top: 60px;
      padding-bottom: 120px;
      margin: 0 -35px;

      .catalog-items-pagination {
        max-width: 200px;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
        z-index: 5;

        .swiper-pagination-bullet {
          background: #00FBCE;
          width: 34px;
          height: 7px;
          border-radius: 0;
          box-shadow: 0px 4px 10px transparent;
          opacity: 1;
          transition: $transition;
        }

        .swiper-pagination-bullet-active {
          height: 11px;
          background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
        }
      }

      .btns-wrap {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        max-width: 280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &--profile {
        padding-top: 20px;
        padding-bottom: 110px;
        margin: 0 -22px;
      }
    }

    &__slider-nextBtn,
    &__slider-prevBtn {
      cursor: pointer;
      background-image: url("../img/icons/arrow-left.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
      width: 40px;
      height: 40px;
      opacity: .7;
      transition: $transition;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 1;
      }
    }

    &__slider-nextBtn {
      transform: rotateY(180deg);
      left: unset;
      right: 0;
    }

    &__inner {
      margin: 0 35px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, auto));
      justify-content: space-between;
      gap: 20px 10px;

      @media screen and (max-width: 800px) {
        justify-content: space-evenly;
      }

      &--sm {
        margin: 0 22px;
        gap: 10px 8px;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));

        @media screen and (max-width: 768px) {
          gap: 20px 8px;
        }

        @media screen and (max-width: 475px) {
          justify-content: center;
        }
      }
    }
  }
}