.crypto-item {
  width: 297px;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-shrink: 0;
  }

  @media screen and (max-width: 375px) {
    width: 267px;
  }

  .border {
    content: '';
    position: absolute;
    width: 49px;
    height: 50px;
    z-index: 2;
  }

  .border-up {
    top: -3px;
    right: -2px;
  }

  .border-down {
    bottom: -2px;
    left: -1px;
  }

  img {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 195px;
    max-height: 170px;
    display: flex;
    flex-grow: 1;
    border-radius: 15px;
  }

  &__btn-wrap {
    transition: $transition;
    max-width: 190px;
    width: 100%;
    padding: 15px 0;

    @media (any-hover: hover) {
      &:hover {
        filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
      }
    }
  }

  &__inner {
    padding: 165px 32px 36px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    text-align: center;
    clip-path: polygon(0% 0%, 16px 0%, calc(100% - 16px) 0%, 100% 16px, 100% 100%, calc(100% - 16px) 100%, 16px 100%, 0 calc(100% - 16px));

    @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
    }

    /* Note: backdrop-filter has minimal browser support */

    button {
      max-width: 190px;
      width: 100%;
      background: transparent;
      box-shadow: 0px 20px 20px transparent;
      border: 0px solid transparent;
      padding: 15px 0;
      position: relative;
      font-family: $content-font;
      font-weight: 700;
      font-size: rem(17.4394);
      line-height: divider(21px, 17.4394px);
      text-transform: uppercase;
      color: $black;
      clip-path: polygon(0% 7px,
          7px 0%,
          100% 0%,
          100% 7px,
          100% calc(100% - 7px),
          calc(100% - 7px) 100%,
          7px 100%,
          0 100%);
    }
  }
}