.cryptobox {
  padding-bottom: 30px;

  @media screen and (max-width: 768px) {
    padding-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    align-self: center;
    text-align: center;
    margin-bottom: 18px;
  }

  &__desc {
    margin-bottom: 65px;
    max-width: 430px;
    text-align: center;
    align-self: center;

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -20px;
    position: relative;

    @media screen and (max-width: 1200px) {
      margin-right: 0px;
      justify-content: space-around;
    }

    @media screen and (max-width: 768px) {
      overflow-x: scroll;
      justify-content: start;
      flex-wrap: nowrap;
      padding: 90px 0 40px;
    }

    .move-icon {
      display: none;
      width: 28px;
      height: 28px;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  &-modal {
    .modal-item {
      grid-template-columns: .9fr 1fr;
      align-items: flex-start;
      padding: 60px 30px 30px;
      gap: 40px 110px;

      @media screen and (max-width: 991px) {
        padding: 60px 30px 30px;
        gap: 40px 60px;
        align-items: center;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 50px 30px 30px;
        gap: 40px;
      }

      @media screen and (max-width: 420px) {
        gap: 25px;
        padding: 60px 12px 20px;
      }

      @media screen and (max-width: 420px) and (max-height: 890px) {
        gap: 20px;
      }

      @media screen and (max-width: 360px) {
        padding: 50px 12px 30px;
      }

      @media screen and (max-width: 420px) and (max-height: 700px) {
        padding: 50px 10px 30px;
      }
    }

    .modal-item__caption {
      margin-bottom: 30px;

      @media screen and (max-width: 420px) and (max-height: 760px) {
        margin-bottom: 15px;
      }
    }

    .modal-item__image {
      img {
        margin-top: 0;
        flex-grow: 1;
        min-width: 345px;
        filter: drop-shadow(0px 4.91096px 30px rgba(0, 251, 191, 0.63));
        height: 350px;
        min-height: unset;

        @media screen and (max-width: 1100px) {
          height: auto;
        }

        @media screen and (max-width: 991px) {
          min-width: 275px;
        }

        @media screen and (max-width: 768px) {
          max-width: 375px;
        }

        @media screen and (max-width: 475px) {
          min-width: 220px;
          max-width: 100%;
        }

        @media screen and (max-width: 420px) and (max-height: 740px) {
          min-width: 220px;
          max-height: unset;
          flex-grow: 0;
          margin: 0;
        }
      }
    }
  }
}