.filters {
  min-height: 400px;
  padding: 45px 50px 55px 25px;
  display: flex;
  position: relative;
  transition: $transition;
  margin-bottom: 20px;
  
  @media screen and (max-width: 1150px) {
    justify-content: start;
    padding: 30px 30px 35px 25px;
  }

  &--profile {
    min-height: 300px;
    padding: 25px 18px 5px 25px;
    margin-bottom: 0;
    margin-right: 10px;
    transition: $transition;

    @media screen and (max-width: 475px) {
      opacity: 0;
      display: none;
      visibility: hidden;
      position: absolute;
      top: 50px;
      right: -100%;
      z-index: 7;
      padding: 25px 55px 10px;
      margin-right: 0;
    }

    &.active {
      opacity: 1;
      display: flex;
      visibility: visible;
      right: 0;
     
      &::before {
        display: block;
      }
    }

    &::before {
      display: none;
    }
    .filters__wrap {
      @media screen and (max-width: 475px) {
        max-width: 320px;
      }
    }

    .accordion {
      &__item {
        padding-left: 0;
        margin-bottom: 15px;
      }

      &__btn {
        h4 {
          font-size: 13.9432px;
          line-height: 11px;
        }

        span {
          top: -4px;
          left: -22px;
        }
      }

      &__info {
        .label {
          padding: 4px 0 4px 30px;
          margin-bottom: 0px;
          font-size: 11.0278px;
          line-height: 13px;

        }

        .label+.label {
          margin-top: 10px;
        }

        .checkmark {
          top: 2px;
          height: 19px;
          width: 21px;
        }
      }

    }
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    background: rgba(#7049E0, .3);
    border: 1px solid #00FBCE;
    width: 100vw;
    height: 100%;

    @supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
      background: linear-gradient(4.65deg, rgba(70, 5, 255, 0.46) 0%, rgba(111, 111, 111, 0) 51.45%, rgba(70, 5, 255, 0.4) 99.79%);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
    }

    @media screen and (max-width: 1150px) {
      left: 0;
      right: unset;
      width: 100%;
    }
  }

  &__wrap {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1150px) {
      max-width: 280px;
    }

    @media screen and (max-width: 375px) {
      max-width: 250px;
    }
  }

  &__title {
    padding-left: 20px;
    margin-bottom: 40px;
    font-family: $title-font;
    font-size: rem(29);
    line-height: divider(24px, 29px);
    color: #00FFD1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }
}