.footer {
  display: flex;
  flex: 0 1 auto;
  padding-bottom: 75px;

  @media screen and (max-width: 720px) {
    padding-bottom: 50px;
  }

  &--profile {
    padding-top: 50px;
    background: rgba(#2F1975, 7);

    @supports ((-webkit-backdrop-filter: blur(70px)) or (backdrop-filter: blur(70px))) {
      background: linear-gradient(-70.6deg, rgba(13, 13, 13, 0.37) 4%, rgba(0, 0, 0, 0) 52.96%, rgba(0, 0, 0, 0.32) 98.94%);
      -webkit-backdrop-filter: blur(70px);
      backdrop-filter: blur(70px);
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      align-items: start;
    }

    @media screen and (max-width: 575px) {
      align-items: center;
    }
  }

  &__logo {
    margin-right: 240px;

    @media screen and (max-width: 1100px) {
      margin-right: 150px;
    }

    @media screen and (max-width: 992px) {
      flex-shrink: 0;
    }

    @media screen and (max-width: 900px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 720px) {
      margin-bottom: 35px;
      margin-right: 0;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 55px;
      transform: translateX(3px);
    }

    img {
      max-height: 53px;
      max-width: 164px;

      @media screen and (max-width: 575px) {
        max-height: unset;
      }
    }
  }

  &__menu {
    margin-top: -6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 100px;

    @media screen and (max-width: 992px) {
      gap: 16px 45px;
    }

    @media screen and (max-width: 768px) {
      gap: 16px 40px;
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
      gap: 25px;
      align-items: center;
      text-align: center;
    }

    a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        background: $white;
        box-shadow: 0px 0px 4px #4605FF, 0px 0px 4px #4605FF, 0px 0px 4px #4605FF, 0px 0px 4px #4605FF;
        height: 1px;
        width: 0%;
        transition: $transition;
      }

      @media (any-hover: hover) {

        &:hover,
        &:focus {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}