.header {
  padding: 24px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0F0F0F;
  transition: $transition;
  overflow-y: hidden;
  border-bottom: 1px solid transparent;

  &.b-bottom {
    border-bottom: 1px solid $green;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 35px;

    img {
      max-height: 53px;
      max-width: 164px;
      transform: translateY(10px);
    }
  }

  &__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__account {
    width: 62px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $violetGradient;
    box-shadow: 0px 3px 38px transparent;
    border-radius: 4px 0;

    @media screen and (max-width: 500px) {
      width: 46px;
      height: 46px;
    }

    svg path {
      transition: $transition;
    }

    @media (any-hover: hover) {

      &:hover,
      &:focus {
        box-shadow: 0px 3px 38px #4605FF;

        svg path {
          stroke: $green;
          fill: $green;
        }
      }
    }

    &.active {
      box-shadow: 0px 3px 38px #4605FF;
    }
  }
}