.marketplace {
  margin-bottom: 60px;
  position: relative;

  @media screen and (max-width: 1150px) {
    position: static;
    overflow: hidden;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &-aside {
    &__btn {
      display: none;

      align-items: center;
      justify-content: center;
      min-width: 180px;

      position: absolute;
      bottom: -43px;
      right: 0px;
      z-index: 7;
      padding: 15px 55px 13px;
      font-weight: 400;
      font-size: 14.2045px;
      line-height: 12px;
      text-transform: uppercase;
      color: $white;
      background: $violetGradient;
      border: 1px solid transparent;
      clip-path: polygon(0% 7px,
          7px 0%,
          100% 0%,
          100% 7px,
          100% calc(100% - 7px),
          calc(100% - 7px) 100%,
          7px 100%,
          0 100%);

      &.z-index {
        z-index: 6;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $black;
          background: linear-gradient(to top, $white);

          svg path {
            stroke: $black;
          }
        }
      }

      @media screen and (max-width: 1150px) {
        display: inline-flex;
        right: -85px;

        &:hover {
          color: $black;
          background: linear-gradient(to top, $white);
          right: 0;
        }
      }

      @media screen and (max-width: 767px) {
        position: static;
        margin-left: 28px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        flex-grow: 1;
        margin: 15px 0 0;

        &:hover {
          color: $black;
          background: linear-gradient(to top, $white);
        }
      }

      @media screen and (max-width: 370px) {
        margin: 0 auto;
        min-width: unset;
        width: 154px;
      }

      svg {
        margin-right: 5px;
        margin-top: -2px;
        width: 14px;
        height: 14px;
        transition: $transition;
      }
    }
  }

  &__aside {
    position: absolute;
    top: 38px;
    left: calc((100vw - 1190px) / 2 - 10px);
    z-index: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    transition: $transition;

    @media screen and (max-width: 1200px) {
      left: 0;
    }

    @media screen and (max-width: 1150px) {
      position: absolute;
      top: 265px;
      left: unset;
      right: -100%;
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    @media screen and (max-width: 767px) {
      top: 250px;
    }

    @media screen and (max-width: 600px) {
      top: 310px;
    }

    @media screen and (max-width: 499px) {
      top: 320px;
    }

    @media screen and (max-width: 480px) {
      top: 335px;
    }

    @media screen and (max-width: 370px) {
      top: 400px;
    }

    @media screen and (max-width: 345px) {
      top: 410px;
    }

    &.active {
      right: 0;
      left: unset;
      opacity: 1;
      visibility: visible;
      display: flex;
    }
  }

  &__tab {
    max-width: 755px;
    width: 100%;

    @media screen and (max-width: 1150px) {
      max-width: 100%;
      margin-top: 15px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    position: relative;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__desc {
    margin-left: auto;
    text-align: left;
    max-width: 325px;

    @media screen and (max-width: 767px) {
      margin-left: 0;
      max-width: 700px;
      order: -1;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
}