.marketplace {
  margin-bottom: 60px;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__aside {
    position: absolute;
    top: 158px;
    left: 80px;
    // right: 930px;
    // сделать кальком
    z-index: 5;
    // max-width: 100vw;
    // width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__tab {
    max-width: 755px;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: flex-start;
  }

  &__desc {
    margin-left: auto;
    text-align: left;
    max-width: 325px;
  }
}