@font-face {
    font-family: BIGMACCA;
    src: url(../../fonts/BigMacca/BIGMACCA.eot);
    src: url(../../fonts/BigMacca/BIGMACCA.eot?#iefix) format('embedded-opentype'),
        url(../../fonts/BigMacca/BIGMACCA.woff2) format('woff2'),
        url(../../fonts/BigMacca/BIGMACCA.woff) format('woff'),
        url(../../fonts/BigMacca/BIGMACCA.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'BIGMACCA';
    src: url('BIGMACCA.eot');
    src: url('BIGMACCA.eot?#iefix') format('embedded-opentype'),
        url('BIGMACCA.woff2') format('woff2'),
        url('BIGMACCA.woff') format('woff'),
        url('BIGMACCA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */